* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  /* background-color: #0d3d56; */
  background-color: #3aafa9;
  /* color: white; */
  /* height: 1000vh; */
  /* width: 100vw;
  height: 100vh; */
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
}

.bolded {
  font-weight: bold;
}